*.vsidx
*.vsidx
*.bin
*.v2
*.v2
*.v2
*.json
*.json
*.v2
*.vsidx
/.vs
*.json
*.dll
*.exe
*.pdb
*.dll
*.dll
*.cache
*.pdb
*.json
*.dll
*.exe
/.vs
*.pdb
*.dll
*.vsidx
*.dll
/.vs
*.json
*.exe
*.cache
*.dll
*.pdb
*.json
ServiceApp/obj/Debug/net8.0/ServiceApp.pdb
ServiceApp/obj/Debug/net8.0/ServiceApp.dll
ServiceApp/obj/Debug/net8.0/ServiceApp.csproj.CoreCompileInputs.cache
ServiceApp/obj/Debug/net8.0/ServiceApp.AssemblyInfoInputs.cache
ServiceApp/obj/Debug/net8.0/ServiceApp.AssemblyInfo.cs
ServiceApp/obj/Debug/net8.0/refint/ServiceApp.dll
ServiceApp/obj/Debug/net8.0/ref/ServiceApp.dll
ServiceApp/obj/Debug/net8.0/apphost.exe
ServiceApp/DTOs/BookingHistoryDto.cs
ServiceApp/bin/Debug/net8.0/ServiceApp.dll
ServiceApp/bin/Debug/net8.0/ServiceApp.dll
